body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(30, 10%, 96%);
}

.container{
    width: 700px;
    height: 500px;
    justify-content: center;
    display: flex;
    background-color: rgb(139, 139, 111);
    border-radius: 20px;
}
.image{
    width: 350px;
    height: 500px;
    display: flex;
}
.image img{
    border-radius: 20px 0px 0px 20px;
}
.content{
    width: 350px;
    height: 440px;
    padding: 30px;
    background-color: hsl(0, 0%, 100%);
}
button{
    background-color: darkgreen;
    color: white;
    /* font-size: medium; */
    padding: 0px 20px;
    width: 230px;
    height: 50px;
    
}
button:hover{
    background-color:hsl(113, 95%, 15%);
    color: white;
    cursor: pointer;
}
h5{
    font-family: 'Monstserrat';
    text-transform: uppercase;
    color: rgb(43, 122, 43);
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
p{
    font-family: 'Monstserrat';
    color: rgb(50, 68, 22);
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.price h5{
    color: rgb(1, 92, 1);
    font-family: 'Fraunces';
}
h3{
    text-transform: uppercase;
    letter-spacing: 3px;
    color: rgb(170, 129, 25);
}
.name{
    font-family: 'Fraunces';
}
.text{
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(31, 101, 31);
    font-family: 'Monstserrat';
}


